ul {
  list-style-type: none;
  padding: 0px;
}
li {
  margin-bottom: 24px;
}

.container {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 155px 1fr;
  grid-template-areas:
    "dashboard header "
    "dashboard content";
}

.dashboard {
  background-color: #0ea5e9;
  color: white;
  grid-area: dashboard;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.s1,
.s2 {
  padding-left: 10px;
}

.sub,
.sub0 {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 16px;
}
.sub {
  font-size: 20px;
  cursor: pointer;
}
.sub0 {
  font-size: 26px;
}

.header {
  padding-left: 30px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 75px;
  grid-template-areas:
    "headerset headerset"
    "actionbar actionbar";
  box-shadow: 0px 0px 5px 0px #e2e8f0;
}

.headerset {
  padding-right: 75px;
  grid-area: headerset;
  display: grid;
  grid-template-columns: 480px 1fr;
  align-items: center;
}

input[type="search"] {
  height: 28px;
  width: 420px;
  border-radius: 25px;
  background-color: #e2e8f0;
  border: none;
  padding-left: 10px;
}

input[type="search"]:focus {
  outline: none;
}

.search::before {
  padding-right: 20px;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f002";
  font-weight: 900;
  cursor: pointer;
}

.user-side {
  align-items: center;
  justify-self: end;
  display: flex;
  gap: 25px;
}

.logo,
.logo2 {
  background-image: url(images/user.jpg);
  background-size: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid yellow;
  border-radius: 50%;
  cursor: pointer;
}
.notify {
  cursor: pointer;
}
.name {
  font-weight: 600;
}
.actionbar {
  grid-area: actionbar;
  padding-right: 75px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.acbar1 {
  justify-self: start;
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo2 intro"
    "logo2 user";
  grid-column-gap: 10px;
}
.logo2 {
  grid-area: logo2;
  width: 60px;
  height: 60px;
}
.intro {
  grid-area: intro;
  align-self: end;
  font-weight: 600;
}
.user {
  grid-area: user;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
}
.acbar2 {
  justify-self: end;
  display: flex;
  gap: 20px;
}
button {
  height: 35px;
  width: 95px;
  padding: 2.5px 5px 0 5px;
  background-color: #0ea5e9;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.content {
  grid-area: content;
  padding: 15px 30px 0 15px;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 750px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "yourprojects announcement"
    "yourprojects trending";
  position: relative;
}
.yourprojects::before {
  content: "Your Projects";
  color: black;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 25px;
}
.yourprojects {
  grid-area: yourprojects;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-auto-rows: min-content;
  grid-gap: 15px;
}
.project {
  width: 300px;
  height: 150px;
  padding-top: 10px;
  border-radius: 10px;
  padding: 25px 25px 15px 25px;
  background: linear-gradient(90deg, #f59e0b 2%, white 2%);
  box-shadow: 1px 1px 5px 0px #94a3b8;
  display: grid;
}
.project-title {
  cursor: pointer;
}
.project-info {
  padding-top: 5px;
  font-size: 12px;
  color: #a8a29e;
  font-weight: 200;
}
.project-foot {
  align-self: end;
  justify-self: end;
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.announcement::before {
  content: "Announcements";
  color: black;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 25px;
}
.announcement {
  grid-area: announcement;
  padding-top: 40px;
}
.announcements {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 1px 1px 5px 0px #94a3b8;
}
.not-t {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.not-p {
  padding-top: 5px;
  font-size: 12px;
  color: #a8a29e;
  font-weight: 200;
}

.trending::before {
  content: "Trending";
  color: black;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  bottom: 5px;
}
.trending {
  grid-area: trending;
  padding-top: 40px;
}
.trends {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 1px 1px 5px 0px #94a3b8;
  display: grid;
  grid-gap: 15px;
}
.trend {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.us2 {
  background-image: url(images/user2.jpeg);
  background-size: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid #60a5fa;
  border-radius: 50%;
}
.us3 {
  background-image: url(images/u3.jpg);
  background-size: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid #831843;
  border-radius: 50%;
}
.us4 {
  background-image: url(images/u4.jpeg);
  background-size: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid #f59e0b;
  border-radius: 50%;
}
.trend-userid {
  font-size: 12px;
  font-weight: 200;
}
.trend-username {
  font-size: 12px;
  color: #a8a29e;
  font-weight: 200;
}
.trend-user {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project-title:hover,
.sub:hover,
.not-t:hover,
.trend:hover {
  scale: 1.02;
}

button:hover,
.notify:hover,
.project-icon:hover,
.logo2:hover,
.logo:hover,
.search:hover::before {
  scale: 1.1;
}
